body {
    background-color: whitesmoke;
}

.rockyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.theRock__header {
    text-align: center;
    margin-bottom: 10px;
}

.theRock__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.contentSection {
    flex-basis: 40%;
}

img {
    width: 300px;
    height: 350px;
}

.theRock__header2 {
    text-align: center;
    margin-bottom: 10px;
}