body {
    background-color:black;
    color: white;
}

.container {

}

.title {
    font-size: 4em;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 0 .25em;
    padding: .25em;
    color: black;
}

.family-title {
    font-size: 3em;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 0 20%;
    padding: .5em;
    color: black;
}

.parents {
    display: flex;
    align-items: center;
    padding: 0 4em;
}

.children {
    display: flex;
    align-items: center;
    padding: 0 4em;
}

.spouse {
    display: flex;
    align-items: center;
    padding: 0 4em;
}

.partner {
    display: flex;
    align-items: center;
    padding: 0 4em;
}


.personal-info {
    margin-top: 2em;
    text-align: center;
    padding: 0 4em;
    margin-bottom: 2em;
}

.family {
    text-align: center
}

.main-pic {
    width: 40%;
    height: auto;
}

.rock-parents {
    width: 20%;
    height: auto;
}

.the-rock-children {
    width: 20%;
    height: auto;
}

.simone {
    width: 30%;
    height: auto;
}

.dany-garcia {
    width: 40%;
    height: auto;
}

.lauren {
    width: 40%;
    height: auto;
}

.spouse-text, .partner-text, .children-text, .parents-text, .main-content {
    border: 4px solid white;
    border-radius: 8px;
    padding: 2em;
}


