body {
    background-color:black;
    color: white;
}
 


 div.container {
     display: flexbox;
     flex-direction: row;
     justify-content: space-evenly;
     flex-flow: row wrap;
     line-height: 1.6;
     padding: 65px 300px 75px 300px;
     font-size: 1.2em;
     box-sizing: border-box;
     
    
    }


 
 .photo {
     border-radius: 50px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10%;
     margin-bottom:10%;
     width: 32%;
 }

     
      
      .residency {
          flex-basis: 40%;
          
      }

h1 {
    text-align: center;
    font-size: 1.9em;
}


      
          
        
